<a>
    <div>
        <span style="display:block;" class="registration" bind-html-unsafe="match.model.registration | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.operator | typeaheadHighlight:query"></span> &middot;
        <span bind-html-unsafe="match.model.manufacturer | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.type | typeaheadHighlight:query"></span>
    </div>
</a>