<a>
    <div>
        <span style="display:block;" class="registration" bind-html-unsafe="match.model.company_name | typeaheadHighlight:query"></span>
        <span bind-html-unsafe="match.model.global_email | typeaheadHighlight:query"></span> &middot;
        <span bind-html-unsafe="match.model.description | typeaheadHighlight:query"></span>
    </div>
</a>