.orange {
  color: #EE9900; }

.green {
  color: #BBCC00; }

.blue {
  color: #00AACC; }

.pink {
  color: #CC0077; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html,
body {
  width: 100%;
  height: 100%;
  webkit-tap-highlight-color: #222; }

/**
 * Basic styles for links
 */
a {
  color: #BBCC00;
  text-decoration: none;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  a:hover, a:active, a:focus {
    color: #aaa;
    text-decoration: underline; }

/**
 * Basic styles
 */
hr {
  max-width: 50px;
  border-color: #00AACC;
  border-width: 3px; }
  hr.light, hr.white {
    border-color: white; }
  hr.pink {
    border-color: #CC0077; }
  hr.orange {
    border-color: #EE9900; }
  hr.blue {
    border-color: #00AACC; }
  hr.green, hr.primary {
    border-color: #BBCC00; }

section {
  padding: 100px 0;
  margin-top: 10px; }

aside {
  padding: 50px 0; }

span.right {
  float: right; }

.block {
  display: block; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222;
  font: normal 14px Merriweather, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue Light", Arial, sans-serif; }

h3 {
  font-size: 20px; }
  h3.ruler {
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-style: normal; }

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5; }

.text-primary {
  color: #00AACC; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.call-to-action h2 {
  margin: 0 auto 20px; }

.text-right {
  text-align: right; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.no-padding {
  padding: 0; }

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  color: #BBCC00; }

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #EE9900; }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #BBCC00; }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #BBCC00 !important;
  background-color: transparent; }

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent; }
  .navbar-default .navbar-header .navbar-brand,
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7); }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus,
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white; }
  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white; }
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #BBCC00; }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #aaa; }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222; }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #BBCC00; } }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center; }
  header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700; }
  header .header-content .header-content-inner hr {
    margin: 30px auto; }
  header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7); }

@media (min-width: 768px) {
  header {
    min-height: 100%; }
    header .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px; }
        header .header-content .header-content-inner p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px; } }

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #DDD;
  /*background-color: #eee;*/
  color: #aaa;
  text-align: center; }
  footer .text-muted {
    margin: 20px 0;
    font-size: 12px; }

.btn-default {
  color: #222;
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    border-color: #aaa !important;
    color: #222 !important;
    background-color: #DDD !important; }

.btn-primary .badge {
  color: #BBCC00;
  background-color: white;
  border: 0; }

.btn {
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px; }

.open > .dropdown-toggle.btn-default,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  border-color: #aaa !important;
  color: #222 !important;
  background-color: #DDD !important; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: white;
  background-color: white; }

.btn-default .badge {
  color: white;
  background-color: #222; }

.btn-primary {
  border-color: #BBCC00;
  color: white;
  background-color: #BBCC00;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border-color: #aaa;
    color: white;
    background-color: #DDD; }

.open > .dropdown-toggle.btn-primary {
  border-color: #aaa;
  color: white;
  background-color: #DDD; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #BBCC00;
  background-color: #BBCC00; }

/**
 * Page divider 2
 */
.section-heading {
  margin-top: 0; }

.service-box {
  margin: 50px auto 0;
  max-width: 400px; }
  .service-box p {
    margin-bottom: 0; }

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0; } }

/**
 * Page divider 3
 */
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px; }
  .portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    background: rgba(238, 153, 0, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%); }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        padding: 0 15px;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .product-name {
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        border: 2px solid white;
        font-size: 18px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1; }

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px; }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px; } }

/**
 * Page divider 4
 */
.popular-box {
  position: relative;
  width: 470px;
  max-height: 262px;
  min-height: 262px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  .popular-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.product {
  padding: 15px 5px; }
  .product a {
    color: #222; }
  .product a:hover {
    text-decoration: none; }
  .product .content {
    border: 1px solid #DDD; }
  .product-color .content{
    border: 1px solid white;
    margin: 10px;
  }
  .product-home .content{
    margin: 10px;
  }
    .product .content p {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px; }
  .product h3 {
    padding-left: 5px;
    padding-right: 5px; }

.product-color .product-image{
  border-bottom: 1px solid white;
}
.product .description{
  padding: 5px 15px;
}
.product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  background-color: white;}

.product-image-related {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #DDD; }

/**
 * Detail page catalogus
 */
.sort-row{
  padding: 20px 0 35px;
}
.container-detail {
  overflow: hidden; }

.container-detail-content {
  padding-left: 50px; }
  .container-detail-content p {
    color: #aaa; }

.catalogus-detail {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px; }
  .catalogus-detail h3.ruler {
    margin-top: 0; }
  .catalogus-detail img {
    border: 1px solid #DDD; }

.related-products {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

ul.sub-navigation {
  background: transparent;
  box-shadow: none;
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 0;
  text-align: center;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-bottom: 40px; }
  ul.sub-navigation li {
    display: inline-block;
    vertical-align: middle; }
    ul.sub-navigation li a {
      display: inline-table;
      padding: 15px 25px;
      border-bottom: none;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      color: #BBCC00; }
      ul.sub-navigation li a:hover, ul.sub-navigation li a:active, ul.sub-navigation li a:focus {
        color: #aaa;
        text-decoration: underline; }
    ul.sub-navigation li:not(:first-child):before {
      font-family: FontAwesome;
      content: "\f142";
      text-align: left;
      font-size: 10px; }
  ul.sub-navigation > li {
    text-align: center;
    padding: 0; }

.rating,
.favo {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left; }

.rating {
  font-size: 32px; }

.rating span.star,
.favo span.heart {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block; }
  .rating span.star:hover,
  .favo span.heart:hover {
    cursor: pointer; }

.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #222; }

.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #EE9900; }

.favo span.heart:before {
  content: "\f08a";
  padding-right: 5px;
  color: #222; }

.favo span.heart:hover:before,
.favo span.heart:hover ~ .favo.heart:before {
  content: "\f004";
  color: #CC0077; }

.comment {
  margin: 15px 0;
  padding: 5px; }

hr.short {
  border: 1px solid #BBCC00;
  margin: 0;
  margin-top: 10px; }

.favos img {
  width: 100px;
  height: auto; }

.account-items .section-heading,
.account-favo .section-heading {
  margin-top: 70px; }

.account-items hr,
.account-favo hr {
  margin-bottom: 25px; }

.pic img {
  width: 100%; }

span.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.9);
  padding: 5px 0;
  color: white; }

span.top {
  position: absolute;
  right: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
  border-bottom: 1px solid; }

.wrapper-products {
  width: 100%;
  height: 100%; }

.pic {
  max-width: 24.7%;
  min-width: 24.7%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  -webkit-animation: anima 2s;
  -moz-animation: anima 2s;
  -o-animation: anima 2s;
  -ms-animation: anima 2s;
  animation: anima 2s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.pic-caption {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(238, 153, 0, 0.9);
  padding: 10px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }
  .pic-caption p {
    border: 2px solid white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white;
    font-size: 18px; }
  .pic-caption a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: white !important;
    font-size: 18px; }
  .pic-caption a:hover {
    color: white !important;
    text-decoration: underline; }

.pic-title {
  font-size: 1.8em; }

a, a:hover, .pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.pic:hover .top-to-bottom {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

.top-to-bottom {
  bottom: 50%;
  left: 0; }

.pic:hover .top-to-bottom {
  left: 0;
  bottom: 0; }

@media screen and (max-width: 1010px) {
  .pic {
    max-width: 32.7%;
    height: 200px; } }

@media screen and (max-width: 560px) {
  .pic {
    max-width: 100%;
    max-height: 300px;
    display: block;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none; } }

.container-search input[type="search"]::-webkit-input-placeholder {
  color: #222 !important; }

/* Search 1 - bg change*/
.container-search {
  text-align: left;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 0 auto; }

.container-search input#search {
  border: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  width: 250px;
  height: 50px;
  background: white;
  border: none;
  float: left;
  padding-left: 45px;
  padding-right: 15px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

.container-search input[type="search"],
.container-search input#search::-webkit-input-placeholder,
.container-search input#search:-moz-placeholder,
.container-search input#search::-moz-placeholder,
.container-search input#search:-ms-input-placeholder {
  /* Firefox 18- */
  /* Firefox 19+ */
  color: #222; }

.container-search .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #222;
  text-align: left; }

/* ANIMATION EFFECTS */
.container-search input#search:focus,
.container-search .icon:focus,
.container-1 .icon:active,
.container-1 input#search:active {
  outline: none;
  background: #DDD;
  color: #222; }

.label {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 12px;
  margin-top: 10px;
  background-color: #aaa; }

.tags {
  margin-top: 10px; }

.bg-primary {
  background-color: #BBCC00; }

.bg-dark {
  color: white;
  background-color: #222; }

.bg-grey {
  color: white;
  background-color: #DDD; }

.bg-orange {
  color: white;
  background-color: #EE9900; }

.bg-pink {
  color: white;
  background-color: #CC0077; }

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

::-moz-selection {
  text-shadow: none;
  color: white;
  background: #222; }

::selection {
  text-shadow: none;
  color: white;
  background: #222; }

img::selection {
  color: white;
  background: 0 0; }

img::-moz-selection {
  color: white;
  background: 0 0; }

.breadcrumb {
  background-color: white;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border-radius: 0;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: #DDD;
  padding: 10px 15px; }

.ruler-top {
  border-top: 1px solid #DDD;
  padding-top: 15px; }


.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #BBCC00;
  border-color: #BBCC00;
}

.pagination>li>a, .pagination>li>span{
  color: #BBCC00;
}